.container {
	margin: 0 auto;
	width: 960px;
}


body {
	font-family: "Lucida Sans Unicode", Verdana, sans-serif;
	line-height: 1.6;
	background: #44b1b3 url('noise.png');
}

.lugar{
	border-color: #CCC #999 #999 #CCC;
	border-style: solid;
	border-width: 4px;
	margin-bottom: 20px;
	padding: 10px;
	background: #a4edd1 url('noise.png');
}

.lugar h2{
	border-bottom: 1px dashed #5C6818;
	margin: 0;
}

.lugar a{
	color: #2C11AF;
	font-weight: bold;
}

a:hover { // :focus :visited :active
	color: white;
	background-color: white;
}
